@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4"><u><b>Evotes</b></u>, Welcome to the new and Inovative Electronical Voting Platform</h1>
    <p1>Voting is the diplomatic right of citizens to select prospective leaders to govern a particular area.
        Evotes enables you our users to be able to vote at any time convinient to you, offering complete secrecy
        and transparency.
    </p1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
