@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Votes Web Portal</h1>
</div>
<div id="page" class="site"> 
    <p>
        <b>Aim</b><br />
        The aim of the Electronic Voting Platform (E-Votes) is to give the populus a:<br />
        <b>- </b>Fair<br />
        <b>- </b><br />
        <b>- </b><br />
        <b>- </b><br />
        <b>- </b><br />
    </p>
</div>
