@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
<p>
    <br />
        <b>THE VOTE IS UNIVERSAL</b><br />
        All citizens who meet the qualifications established by law have the right to vote.<br /><br />
        <b>THE VOTE IS FREE</b><br />
        The elector is entitled to vote free.<br /><br />
        <b>THE VOTE IS SECRET</b><br />
        The process guarantees not to publicize the preference or will of any elector.<br /><br />
        <b>THE VOTE IS DIRECT</b><br />
        The citizen elects the Representative of his choice.<br /><br />
        <b>THE VOTE IS PERSONAL</b><br />
        The Elector shall attend in person at his/her designated polling station.<br /><br />
        <b>THE VOTE IS NON-TRANSFERRABLE</b><br />
        The Elector cannot transfer to anyone his right to vote.<br /><br />
</p>
</div>

